.wrap {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #bf4115;
    position: relative;
}

.box_wrap {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #06ff57;
}

.box {
    width: 1600px;
    margin-left: -200px;
}

.box:after {
    content: "";
    display: block;
    clear: both;
}

.content {
    float: left;
    width: 170px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #030303;
    color: white;
}

.prev {
    width: 19px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(32px, -50%);
    -ms-transform: translate(32px, -50%);
    -o-transform: translate(32px, -50%);
    transform: translate(32px, -50%);
    background-color: #aaa;
}

.next {
    width: 19px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-16px, -50%);
    -ms-transform: translate(-16px, -50%);
    -o-transform: translate(-16px, -50%);
    transform: translate(-16px, -50%);
    background-color: #aaa;
}